.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/jumbotron.jpg);
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    color: #17a2b8;
    text-shadow: 1px 1px 1px black;
}